In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Real_Combine.csv")
df.head()

      T    TM   Tm     SLP     H   VV    V    VM      PM 2.5
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4  219.720833
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1  182.187500
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1  154.037500
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6  223.208333
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2  200.645833

In [15]:
X = df.iloc[:,0:8]
y = df.iloc[:,-1]

In [29]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers,Sequential
from keras.layers import Dense

In [30]:
model = keras.Sequential()

In [31]:
model.add(Dense(units=8, kernel_initializer='he_uniform',activation='relu',input_dim=10)),
model.add(Dense(units=16, kernel_initializer='he_uniform',activation='relu')),
model.add(Dense(units=16, kernel_initializer='he_uniform',activation='relu')),
model.add(Dense(units=1, kernel_initializer='he_uniform',activation='sigmoid')),

model.compile(optimizer='Adam',loss='binary_crossentropy',metrics='Accuracy')